.header {

  .navbar {
    background-color:white;
    color: black;
    border: none;

    .navbar-brand {
      padding-left: 0;
    }

    button.navbar-toggle {
      margin-top: 15px;
      margin-right: 0;
      background-color: white;

      &.collapsed {
        margin-top: 15px;
        margin-right: 0;
        background-color: white;
        //background-color: #00adef;
        //border: solid 1px #225d8a;

        span.icon-bar {
          background-color: black;
        }
      }
      span.icon-bar {
        background-color: black;
      }
    }
  }
  .navbar-inverse .navbar-nav>li>a {
    color: black;
    line-height: 35px;
    font-family: 'GothamMedium';
    font-size: 14px;
    font-weight: 500;
  }
}